html {
  scroll-behavior: smooth;
}
body {
	background-color: gold;
}
.nav-link {
	display: block;
    float: center;
    text-align: center;
    font-size: 1.2em;
    width: 130px;
    text-decoration: none;
    color: gold;
    background-color: brown;
    padding: 10px 20px;
    margin: 0px 1px 1px 0px;
    border: 1px solid brown;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 3px brown;
    -moz-box-shadow: 0px 2px 3px brown;
    -webkit-box-shadow: 0px 2px 3px brown;
}
.nav-link:hover {
	color: brown;
    background: gold;
    border: 1px solid brown;
}

.nav{
	margin-top:2vh;
	margin-left: 4vw;
	margin-right: 1vw;
}
.col-sm-3{
    text-align: right;
}

i{
    font-size:30px;
}

footer{
	bottom:0px;
	text-align:center;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
.center-me {
width: 65%;
margin: 0 auto;
}
.col{
btn btn-success
 background-color: brown;
 }
